body {
	font-family: Roboto-slab, sans serif;
padding: 0;
margin: 0;
}
.clearfix: after {
content: "";
display: table;
width: 100%;
clear: both;
}
div {
	box-sizing: border-box;
}
header {
background: url(../img/first-bg.jpg) no-repeat center top /cover;
height: 105px;
}
.container {
	width: 930px;
	margin: 0 auto;
}
.logo {
margin-top: 30px;
float: left;
height: 60px;]
}
nav {
	float: right;
	margin-top: 50px;
}
.menu {
	padding: 0;
	margin: 0;
	display: block;
}
.menu li {
	float: left;
	display: block;
	margin-right: 36px;
}
.menu li:nth-child(5) {
	margin-right: 10px;
}
.menu a {
	color: #060606;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14pt;
}
.button {
	background: #d80f0f;
	color: #ffff;
	border-radius: 10px;
	display: block;
	width: 210px;
	padding: 0px 0;
	margin: 5px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 19px;
	float: left;
	margin-top: 0px;
	margin-bottom: 15px;
}
.title	{
padding-top: 20px;
}
.title h2 {
	font-size: 41px;
	color: #663366;
	text-align: center;
	font-weight: bold;
	margin: 0;
}
.o_tovare {
margin-top: 25px;
}

.o_tovare_item {
	width: 475px;
	float: left;
	text-align: left;
	margin-top: 2px;
}
.o_tovare_item h3 {
font-size: 19px;
color: #663366;
margin-left: 80px;
font-weight: bold;
}
.o_tovare_item:nth-child(1) {
	margin-top: 98px;
}
#glavnaya {
	margin-bottom: 10px;
}
.title p {
	color: #4cb68d;
	font-size: 38px;
	text-align: center;
	font-weight: bold;
	line-height: 1.55em;
	margin: 0;
}
h4 {
	width: 600px;
font-size: 19px;
	color: #624568;
	text-align: left;
	font-weight: regular;
	margin-left: 50px;
	line-height: 30px;
	word-spacing: 10px;
	
}
.opisanie_tovara {
	margin-top: 10px;
}
.opisanie_tovara_1 {
	width: 450px;
	float: left;

}
.opisanie_tovara_1 img {
margin-right: 60px;
width: 650px;
height: 500px;
}
.opisanie_tovara_1:nth-child(1) {
margin-top: 40px;
}

h5 {
	width: 260px;
font-size: 14px;
	color: #624568;
	text-align: left;
	font-weight: regular;
	margin-left: 0px;
	line-height: 21px;
	word-spacing: 8px;
	float: left;
	margin-top: 10px;
	
}
.otzivi_text h5:nth-child(2) {
	margin-left: 40px;
}
.otzivi_text h5:nth-child(3) {
	margin-left: 40px;
}
.otzivi_ramka img {
	width: 300px;
	height: 400px;
	margin-top: 40px;
}
.otzivi_ramka img:nth-child(2) {
	margin-bottom: 4px;
}
.otzivi_ramka img:nth-child(3) {
	margin-bottom: 4px;
}
.otzivi_name {
	float: left;
	margin-left: 70px;
	padding: 0;
	margin-top: 3px;
	margin-bottom: 20px;
}

.otzivi_name h6 {
	text-align: center;
	margin: 0;
	margin-left: 30px;
	padding: 0;
	font-size: 15px;
	color: #624568;
	margin-top: 7px;
}
.otzivi_name p {
	text-align: center;
	margin: 0;
	margin-left: 30px;
	padding: 0;
	color: #624568;
}
.otzivi_name {
	padding-left: 60px;
	padding-right: 30px;
}
.screen7 {
	margin-top: 60px;
}
.dostavka_text h6 {
	float: left;
	text-align: center;
	font-size: 24px;
	margin: 0;
	margin-left: 50px;
	color: #624568;	
}
.dostavka_text h6:nth-child(1) {
	width: 260px;
	height: 150px;
}